.header {
    text-align: center;
    height: 300px;
    padding-top: 70px;
    backdrop-filter: blur(2px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.02)), url('../../images/background_image3.jpg');
    margin-bottom: 20px;
}


.nevberMenu {
    color: rgba(255, 255, 255, .8);
    margin: 20px 20px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    /* color: ; */
}


.siteName {
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
    margin-top: 60px;
}